<%- include('includes/head') %>
<%- include('includes/navbar') %>

<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Agenda-App</h1>
      <p>Gerencie seus contatos de uma maneira única simples e prática, faça seu cadastro conosco e aproveite a melhor maneira de gerenciamento de contatos!</p>
      <p><a class="btn btn-primary btn-lg" href="/register/" role="button">Cadastro &raquo;</a></p>
    </div>
  </div>

  <div class="container">

    <hr>

</div> <!-- /jumbotrom -->


<%- include('includes/footer') %>