<%- include('includes/head') %>
<%- include('includes/navbar') %>

<section class="container">
    <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-5">
        <h1 class="display-1 text-center">ERRO 404</h1>
        <p class="text-center lead">Desculpe-nos ocorreu um erro na sessão, tente novamente</p>
      </div>

      <div class="col-lg-2"></div>
    </div>
</section>


<%- include('includes/footer') %>